<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Define the character set and viewport settings -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Set the page title -->
    <title>Home Page</title>
    <!-- Define some CSS styles -->
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <!-- Page content starts here -->
    <h1 style="text-align: center">Ecommerce API</h1>
    <br />
    <br />
    <div class="container" style="width: auto; line-height: 1.5;">
        <ul>
            <li>This is an API for an eCommerce platform to manage comment inventory.</li>
            <li>You can test it using POSTMAN</li>
            <li>You can perform CRUD operations on this API</li>
            <li>C- Create or add Comment</li>
            <ul>
                <li>API to add comments to the database</li>
                <li>URL [POST]: /comments/create</li>
            </ul>
            <li>R- Read Comments</li>
            <ul>
                <li>API to list comments</li>
                <li>URL [GET] : /comments</li>
            </ul>
            <li>D- Delete any specific comment</li>
            <ul>
                <li>API to delete comments</li>
                <li>URL [DELETE] : /comments/:id</li>
            </ul>
            <li>CORS added</li>
        </ul>
    </div>
    <br>
    <br>
    <!-- Link to view comments -->
    <a href="/comments"><button>View Comments</button></a>
</body>
</html>
